.list-table {
  width: 100%;
  border: solid 1px #edecec;
  border-collapse: collapse;
  th {
    text-align: left;
  }

  tr td:first-child,
  tr th:first-child {
    padding-left: 40px;
  }
  thead tr {
    background-color: #e6e6eb !important;
    height: 48px;
    font-weight: 400;
  }
  tr {
    height: 40px;
    border-bottom: solid 1px #edecec;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.23px;
  }
  tr:nth-child(odd) {
    background-color: #fafafa;
  }
  tr:nth-child(even) {
    background-color: #fff;
  }
  tr td:nth-child(1) {
    // width: 30px;
  }
}
