.navigation {
  width: 239px;
  height: 100%;
  background-color: #373b5f;
  position: fixed;
  left: 0;
  padding-top: 135px;
  top: 60px;
  color: white;
  a {
    color: white;
  }
}
ul {
  list-style-type: none;
  a {
    text-decoration: none;
  }
}
.disabled {
  opacity: 0.4;
}
.icon {
  margin-right: 24px;
  width: 22px;
}
.navigation-item {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
